@{
    ViewBag.Title = "Welcome";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <!-- End of headStart -->
    <meta name="viewport" content="width=device-width">
    <meta name="generator" content="Framer c2f6d5d">
    <title>Team Work Computer Science</title>
    <meta name="description" content="Made with Framer">
    <meta name="framer-search-index" content="https://framerusercontent.com/sites/6jCIATCv7MLXfcr0ErZX8s/searchIndex-lj8vb6oz.v2.json">
    <link rel="icon" href="https://framerusercontent.com/sites/icons/default-favicon.v3.png">

    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="">

    <link rel="stylesheet" href="../../Content/css/styleIndex.css">
    <!-- End of headEnd -->
</head>
<body class="framer-body-rToVcWmtO">

    <!-- End of bodyStart -->
    <div id="main" data-framer-hydrate-v2="{&quot;routeId&quot;:&quot;rToVcWmtO&quot;}" data-framer-ssr-released-at="2023-06-15T08:18:25.121Z" data-framer-page-optimized-at="2023-06-23T17:50:30.475Z">
        <div class="framer-0qNqd" style="display:contents">
            <div class="framer-1ubhrr6" style="min-height:100%;width:auto">
                <div class="framer-izipst" data-framer-name="Hero" name="Hero">
                    <div class="framer-1m6zcj4" data-framer-name="Menu" name="Menu">
                        <div class="ssr-variant hidden-1in7fn0">
                            <div class="framer-1o7iind" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
                                <p style="--font-selector:R0Y7U2NoaWJzdGVkIEdyb3Rlc2stNzAw;--framer-font-family:&quot;Schibsted Grotesk&quot;, &quot;Schibsted Grotesk Placeholder&quot;, sans-serif;--framer-font-weight:700;--framer-text-alignment:left;--framer-text-color:rgb(0, 23, 31)" class="framer-text" id="title">Team Work</p>
                            </div>
                        </div>
                        <div class="ssr-variant hidden-1ubhrr6 hidden-ph4vvw">
                            <div class="framer-1o7iind" class="framer-text">
                                Team Work</p>
                            </div>
                        </div>
                        <div class="framer-wb0dvw" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
                            <a href="@Url.Action("Index", "Home")" style="--font-selector:R0Y7U2NoaWJzdGVkIEdyb3Rlc2stNzAw;--framer-font-family:&quot;Schibsted Grotesk&quot;, &quot;Schibsted Grotesk Placeholder&quot;, sans-serif;--framer-font-weight:700;--framer-text-color:rgb(0, 23, 31)" class="framer-text " id="nav-link">Home</a>
                        </div>

                        <div class="framer-wb0dvw" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
                            <a href="@Url.Action("Contact", "Home")" style="--font-selector:R0Y7U2NoaWJzdGVkIEdyb3Rlc2stNzAw;--framer-font-family:&quot;Schibsted Grotesk&quot;, &quot;Schibsted Grotesk Placeholder&quot;, sans-serif;--framer-font-weight:700;--framer-text-color:rgb(0, 23, 31)" class="framer-text " id="nav-link">Contact</a>
                        </div>
                        <div class="framer-wb0dvw" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
                            <a href="@Url.Action("About", "Home")" style="--font-selector:R0Y7U2NoaWJzdGVkIEdyb3Rlc2stNzAw;--framer-font-family:&quot;Schibsted Grotesk&quot;, &quot;Schibsted Grotesk Placeholder&quot;, sans-serif;--framer-font-weight:700;--framer-text-color:rgb(0, 23, 31)" class="framer-text " id="nav-link">About us</a>
                        </div>
                        <div class="framer-136627z" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
                            <a href="@Url.Action("Login", "User")" style="--font-selector:R0Y7U2NoaWJzdGVkIEdyb3Rlc2stNzAw;--framer-font-family:&quot;Schibsted Grotesk&quot;, &quot;Schibsted Grotesk Placeholder&quot;, sans-serif;--framer-font-weight:700;--framer-text-color:rgb(0, 23, 31)" class="framer-text nav-link" id="nav-link1">Login</a>
                        </div>
                        <div class="framer-1wb833e" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
                            <a href="@Url.Action("SignUp", "User")" style="--font-selector:R0Y7U2NoaWJzdGVkIEdyb3Rlc2stNzAw;--framer-font-family:&quot;Schibsted Grotesk&quot;, &quot;Schibsted Grotesk Placeholder&quot;, sans-serif;--framer-font-weight:700;--framer-text-color:rgb(0, 23, 31)" class="framer-text nav-link" id="nav-link2">Sign Up</a>
                        </div>
                    </div>
                    <div class="framer-rs3vcm" data-border="true">
                        <svg class="framer-eca7qj" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer" viewBox="0 0 880 105">
                            <foreignObject width="100%" height="100%" transform="scale(1)" style="overflow:visible;transform-origin:center center">
                                <h1 style="--font-selector:R0Y7TWFyZ2FyaW5lLXJlZ3VsYXI=;--framer-font-family:&quot;Margarine&quot;, sans-serif;--framer-font-size:95.18219557713124px;--framer-line-height:1.1em;--framer-text-alignment:left;--framer-text-color:rgb(0, 23, 31);--framer-text-transform:uppercase" class="framer-text">TEAM KEY's PROJECT</h1>
                            </foreignObject>
                        </svg>
                    </div>
                    <div class="framer-1hto07d">
                        <div class="framer-11thb9q" data-framer-name="Image" name="Image">
                            <div class="framer-10b499s"></div>
                            <div class="framer-12fq5iq" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
                                <h1 style="--font-selector:R0Y7U2NoaWJzdGVkIEdyb3Rlc2stcmVndWxhcg==;--framer-font-family:&quot;Schibsted Grotesk&quot;, &quot;Schibsted Grotesk Placeholder&quot;, sans-serif;--framer-font-size:20px;--framer-line-height:1.4em;--framer-text-alignment:left;--framer-text-color:rgb(255, 255, 255)" class="framer-text">Welcome to Team Work Computer Science, where collaboration meets innovation. Dive into the world of computer science and unleash your potential.</h1>
                            </div>
                        </div>
                        <div class="ssr-variant hidden-ph4vvw hidden-1in7fn0">
                            <div class="framer-1vhezkk" data-framer-name="Image" name="Image">
                                <div style="position:absolute;pointer-events:none;user-select:none;border-radius:inherit;top:0;right:0;bottom:0;left:0" data-framer-background-image-wrapper="true">
                                    <div style="display:contents;border-radius:inherit;pointer-events:none">
                                        <img src="https://framerusercontent.com/images/TwL004z68aNLqiWIkJfRnnHocUY.jpg?scale-down-to=512" alt="" srcset="https://framerusercontent.com/images/TwL004z68aNLqiWIkJfRnnHocUY.jpg?scale-down-to=512 512w, https://framerusercontent.com/images/TwL004z68aNLqiWIkJfRnnHocUY.jpg?scale-down-to=1024 1024w, https://framerusercontent.com/images/TwL004z68aNLqiWIkJfRnnHocUY.jpg 1200w" sizes="(min-width: 1200px) calc(max((min(100vw - 200px, 1000px) - 80px) / 5, 20px) * 2 + 20px), (min-width: 810px) and (max-width: 1199px) calc(max((min(100vw - 100px, 1000px) - 80px) / 5, 20px) * 2 + 20px), (max-width: 809px) min(100vw - 40px, 1000px)" style="pointer-events:none;user-select:none;display:block;width:100%;height:100%;border-radius:inherit;object-position:center;object-fit:cover;image-rendering:auto" data-framer-original-sizes="calc(max((min(100vw - 200px, 1000px) - 80px) / 5, 20px) * 2 + 20px)">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ssr-variant hidden-1ubhrr6 hidden-1in7fn0">
                            <div class="framer-1vhezkk" data-framer-name="Image" name="Image">
                                <div style="position:absolute;pointer-events:none;user-select:none;border-radius:inherit;top:0;right:0;bottom:0;left:0" data-framer-background-image-wrapper="true">
                                    <div style="display:contents;border-radius:inherit;pointer-events:none">
                                        <img src="https://framerusercontent.com/images/TwL004z68aNLqiWIkJfRnnHocUY.jpg?scale-down-to=512" alt="" srcset="https://framerusercontent.com/images/TwL004z68aNLqiWIkJfRnnHocUY.jpg?scale-down-to=512 512w, https://framerusercontent.com/images/TwL004z68aNLqiWIkJfRnnHocUY.jpg?scale-down-to=1024 1024w, https://framerusercontent.com/images/TwL004z68aNLqiWIkJfRnnHocUY.jpg 1200w" sizes="(min-width: 1200px) calc(max((min(100vw - 200px, 1000px) - 80px) / 5, 20px) * 2 + 20px), (min-width: 810px) and (max-width: 1199px) calc(max((min(100vw - 100px, 1000px) - 80px) / 5, 20px) * 2 + 20px), (max-width: 809px) min(100vw - 40px, 1000px)" style="pointer-events:none;user-select:none;display:block;width:100%;height:100%;border-radius:inherit;object-position:center;object-fit:cover;image-rendering:auto" data-framer-original-sizes="calc(max((min(100vw - 100px, 1000px) - 80px) / 5, 20px) * 2 + 20px)">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ssr-variant hidden-1ubhrr6 hidden-ph4vvw">
                            <div class="framer-1vhezkk" data-framer-name="Image" name="Image">
                                <div style="position:absolute;pointer-events:none;user-select:none;border-radius:inherit;top:0;right:0;bottom:0;left:0" data-framer-background-image-wrapper="true">
                                    <div style="display:contents;border-radius:inherit;pointer-events:none">
                                        <img src="https://framerusercontent.com/images/TwL004z68aNLqiWIkJfRnnHocUY.jpg?scale-down-to=512" alt="" srcset="https://framerusercontent.com/images/TwL004z68aNLqiWIkJfRnnHocUY.jpg?scale-down-to=512 512w, https://framerusercontent.com/images/TwL004z68aNLqiWIkJfRnnHocUY.jpg?scale-down-to=1024 1024w, https://framerusercontent.com/images/TwL004z68aNLqiWIkJfRnnHocUY.jpg 1200w" sizes="(min-width: 1200px) calc(max((min(100vw - 200px, 1000px) - 80px) / 5, 20px) * 2 + 20px), (min-width: 810px) and (max-width: 1199px) calc(max((min(100vw - 100px, 1000px) - 80px) / 5, 20px) * 2 + 20px), (max-width: 809px) min(100vw - 40px, 1000px)" style="pointer-events:none;user-select:none;display:block;width:100%;height:100%;border-radius:inherit;object-position:center;object-fit:cover;image-rendering:auto" data-framer-original-sizes="min(100vw - 40px, 1000px)">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ssr-variant hidden-ph4vvw hidden-1in7fn0">
                            <div class="framer-pp9yjo" data-framer-name="Image" name="Image">
                                <div style="position:absolute;pointer-events:none;user-select:none;border-radius:inherit;top:0;right:0;bottom:0;left:0" data-framer-background-image-wrapper="true">
                                    <div style="display:contents;border-radius:inherit;pointer-events:none">
                                        <img src="https://framerusercontent.com/images/PoeV2M0HUsSFr9Es42arMhwHrA.jpg?scale-down-to=512" alt="" srcset="https://framerusercontent.com/images/PoeV2M0HUsSFr9Es42arMhwHrA.jpg?scale-down-to=512 512w, https://framerusercontent.com/images/PoeV2M0HUsSFr9Es42arMhwHrA.jpg?scale-down-to=1024 1024w, https://framerusercontent.com/images/PoeV2M0HUsSFr9Es42arMhwHrA.jpg 1200w" sizes="(min-width: 1200px) calc(max((min(100vw - 200px, 1000px) - 80px) / 5, 20px) * 2 + 20px), (min-width: 810px) and (max-width: 1199px) calc(max((min(100vw - 100px, 1000px) - 80px) / 5, 20px) * 2 + 20px), (max-width: 809px) min(100vw - 40px, 1000px)" style="pointer-events:none;user-select:none;display:block;width:100%;height:100%;border-radius:inherit;object-position:center;object-fit:cover;image-rendering:auto" data-framer-original-sizes="calc(max((min(100vw - 200px, 1000px) - 80px) / 5, 20px) * 2 + 20px)">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ssr-variant hidden-1ubhrr6 hidden-1in7fn0">
                            <div class="framer-pp9yjo" data-framer-name="Image" name="Image">
                                <div style="position:absolute;pointer-events:none;user-select:none;border-radius:inherit;top:0;right:0;bottom:0;left:0" data-framer-background-image-wrapper="true">
                                    <div style="display:contents;border-radius:inherit;pointer-events:none">
                                        <img src="https://framerusercontent.com/images/PoeV2M0HUsSFr9Es42arMhwHrA.jpg?scale-down-to=512" alt="" srcset="https://framerusercontent.com/images/PoeV2M0HUsSFr9Es42arMhwHrA.jpg?scale-down-to=512 512w, https://framerusercontent.com/images/PoeV2M0HUsSFr9Es42arMhwHrA.jpg?scale-down-to=1024 1024w, https://framerusercontent.com/images/PoeV2M0HUsSFr9Es42arMhwHrA.jpg 1200w" sizes="(min-width: 1200px) calc(max((min(100vw - 200px, 1000px) - 80px) / 5, 20px) * 2 + 20px), (min-width: 810px) and (max-width: 1199px) calc(max((min(100vw - 100px, 1000px) - 80px) / 5, 20px) * 2 + 20px), (max-width: 809px) min(100vw - 40px, 1000px)" style="pointer-events:none;user-select:none;display:block;width:100%;height:100%;border-radius:inherit;object-position:center;object-fit:cover;image-rendering:auto" data-framer-original-sizes="calc(max((min(100vw - 100px, 1000px) - 80px) / 5, 20px) * 2 + 20px)">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ssr-variant hidden-1ubhrr6 hidden-ph4vvw">
                            <div class="framer-pp9yjo" data-framer-name="Image" name="Image">
                                <div style="position:absolute;pointer-events:none;user-select:none;border-radius:inherit;top:0;right:0;bottom:0;left:0" data-framer-background-image-wrapper="true">
                                    <div style="display:contents;border-radius:inherit;pointer-events:none">
                                        <img src="https://framerusercontent.com/images/PoeV2M0HUsSFr9Es42arMhwHrA.jpg?scale-down-to=512" alt="" srcset="https://framerusercontent.com/images/PoeV2M0HUsSFr9Es42arMhwHrA.jpg?scale-down-to=512 512w, https://framerusercontent.com/images/PoeV2M0HUsSFr9Es42arMhwHrA.jpg?scale-down-to=1024 1024w, https://framerusercontent.com/images/PoeV2M0HUsSFr9Es42arMhwHrA.jpg 1200w" sizes="(min-width: 1200px) calc(max((min(100vw - 200px, 1000px) - 80px) / 5, 20px) * 2 + 20px), (min-width: 810px) and (max-width: 1199px) calc(max((min(100vw - 100px, 1000px) - 80px) / 5, 20px) * 2 + 20px), (max-width: 809px) min(100vw - 40px, 1000px)" style="pointer-events:none;user-select:none;display:block;width:100%;height:100%;border-radius:inherit;object-position:center;object-fit:cover;image-rendering:auto" data-framer-original-sizes="min(100vw - 40px, 1000px)">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="framer-3hlrvk" data-framer-name="Image" name="Image">
                            <div class="framer-uazw45-container">
                                <div style="width:100%;height:100%;clip-path:url(#curve-pBaYbXGyr-153xoh9);background:rgb(255, 255, 255)">
                                    <svg>
                                        <clipPath id="curve-pBaYbXGyr-153xoh9" clipPathUnits="objectBoundingBox" transform="scale(0.005)">
                                            <path d="M200 150H143.75C143.75 125.838 124.162 106.25 100 106.25C75.8375 106.25 56.25 125.838 56.25 150H0C0 94.7715 44.7715 50 100 50C155.228 50 200 94.7715 200 150Z"></path>
                                        </clipPath>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="framer-1mtveio" data-border="true" data-framer-name="Decoration" name="Decoration" style="transform:rotate(-50deg)"></div>
                        <div class="framer-smw6up" data-border="true" data-framer-name="Decoration" name="Decoration" style="transform:rotate(65deg)"></div>
                        <div class="framer-kljns1" data-border="true" data-framer-name="Decoration" name="Decoration" style="transform:rotate(115deg)"></div>
                    </div>
                </div>
                <div class="framer-1cz6sww" data-framer-name="Text" name="Text">
                    <div class="framer-14r8jdh">
                        <div class="framer-ngxuk8">
                            <div class="ssr-variant hidden-ph4vvw hidden-1in7fn0">
                                <div class="framer-4w84ps" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
                                    <h2 style="--font-selector:R0Y7TWFyZ2FyaW5lLXJlZ3VsYXI=;--framer-font-family:&quot;Margarine&quot;, sans-serif;--framer-font-size:48px;--framer-text-alignment:left;--framer-text-color:rgb(255, 255, 255)" class="framer-text">Discover Your Passion</h2>
                                </div>
                            </div>
                            <div class="ssr-variant hidden-1ubhrr6 hidden-1in7fn0">
                                <div class="framer-4w84ps" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
                                    <h2 style="--font-selector:R0Y7TWFyZ2FyaW5lLXJlZ3VsYXI=;--framer-font-family:&quot;Margarine&quot;, sans-serif;--framer-font-size:32px;--framer-text-alignment:left;--framer-text-color:rgb(255, 255, 255)" class="framer-text">Discover Your Passion</h2>
                                </div>
                            </div>
                            <div class="ssr-variant hidden-1ubhrr6 hidden-ph4vvw">
                                <div class="framer-4w84ps" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
                                    <h2 style="--font-selector:R0Y7TWFyZ2FyaW5lLXJlZ3VsYXI=;--framer-font-family:&quot;Margarine&quot;, sans-serif;--framer-font-size:32px;--framer-text-alignment:left;--framer-text-color:rgb(255, 255, 255)" class="framer-text">Discover Your Passion</h2>
                                </div>
                            </div>
                            <div class="framer-1ymlr8s" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
                                <h3 style="--font-selector:R0Y7U2NoaWJzdGVkIEdyb3Rlc2stcmVndWxhcg==;--framer-font-family:&quot;Schibsted Grotesk&quot;, &quot;Schibsted Grotesk Placeholder&quot;, sans-serif;--framer-font-size:20px;--framer-line-height:1.5em;--framer-text-alignment:left;--framer-text-color:rgb(255, 255, 255)" class="framer-text">Team Work fosters a vibrant community of students exploring their deepest interests in computer science. With our hands-on approach, you'll learn by doing, unlocking endless opportunities.</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="framer-1tajqzm" data-framer-name="Call to Action" name="Call to Action">
                    <div class="ssr-variant hidden-ph4vvw hidden-1in7fn0">
                        <div class="framer-e94kp8" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
                            <h2 style="--font-selector:R0Y7TWFyZ2FyaW5lLXJlZ3VsYXI=;--framer-font-family:&quot;Margarine&quot;, sans-serif;--framer-font-size:48px;--framer-text-alignment:center" class="framer-text">Ready to Begin?</h2>
                        </div>
                    </div>
                    <div class="ssr-variant hidden-1ubhrr6 hidden-1in7fn0">
                        <div class="framer-e94kp8" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
                            <h2 style="--font-selector:R0Y7TWFyZ2FyaW5lLXJlZ3VsYXI=;--framer-font-family:&quot;Margarine&quot;, sans-serif;--framer-font-size:32px;--framer-text-alignment:center" class="framer-text">Ready to Begin?</h2>
                        </div>
                    </div>
                    <div class="ssr-variant hidden-1ubhrr6 hidden-ph4vvw">
                        <div class="framer-e94kp8" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
                            <h2 style="--font-selector:R0Y7TWFyZ2FyaW5lLXJlZ3VsYXI=;--framer-font-family:&quot;Margarine&quot;, sans-serif;--framer-font-size:32px;--framer-letter-spacing:0px;--framer-text-alignment:center" class="framer-text">Ready to Begin?</h2>
                        </div>
                    </div>
                    <div class="ssr-variant hidden-1in7fn0">
                        <div class="framer-hs489d" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
                            <p style="--font-selector:R0Y7U2NoaWJzdGVkIEdyb3Rlc2stcmVndWxhcg==;--framer-font-family:&quot;Schibsted Grotesk&quot;, &quot;Schibsted Grotesk Placeholder&quot;, sans-serif;--framer-line-height:1.5em;--framer-text-alignment:center" class="framer-text">Join our fantastic community, and let’s embark on an exciting learning journey together in computer science!</p>
                        </div>
                    </div>
                    <div class="ssr-variant hidden-1ubhrr6 hidden-ph4vvw">
                        <div class="framer-hs489d" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
                            <p style="--font-selector:R0Y7U2NoaWJzdGVkIEdyb3Rlc2stcmVndWxhcg==;--framer-font-family:&quot;Schibsted Grotesk&quot;, &quot;Schibsted Grotesk Placeholder&quot;, sans-serif;--framer-letter-spacing:0px;--framer-line-height:1.5em;--framer-text-alignment:center" class="framer-text">Join our fantastic community, and let’s embark on an exciting learning journey together in computer science!</p>
                        </div>
                    </div>
                    <div class="framer-16l10u7">
                        <div class="framer-wbnr7r" data-framer-name="Button" name="Button">
                            <div class="framer-1rh8iaf" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
                                <p style="--font-selector:R0Y7U2NoaWJzdGVkIEdyb3Rlc2stNzAw;--framer-font-family:&quot;Schibsted Grotesk&quot;, &quot;Schibsted Grotesk Placeholder&quot;, sans-serif;--framer-font-size:14px;--framer-font-weight:700;--framer-text-alignment:center;--framer-text-color:rgb(255, 255, 255)" class="framer-text">Login</p>
                            </div>
                        </div>
                        <div class="framer-b7wgue" data-framer-name="Button" name="Button">
                            <div class="framer-xkgy0p" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
                                <p style="--font-selector:R0Y7U2NoaWJzdGVkIEdyb3Rlc2stNzAw;--framer-font-family:&quot;Schibsted Grotesk&quot;, &quot;Schibsted Grotesk Placeholder&quot;, sans-serif;--framer-font-size:14px;--framer-font-weight:700;--framer-text-alignment:center;--framer-text-color:rgb(255, 255, 255)" class="framer-text">Sign Up</p>
                            </div>
                        </div>
                    </div>
                    <div class="framer-15gfjrk" data-border="true" data-framer-name="Decoration" name="Decoration" style="transform:rotate(134deg)"></div>
                </div>
                <div class="framer-cyk7jo" data-framer-name="Footer" name="Footer">
                    <div class="framer-1j96z0a" data-framer-name="Copyright" name="Copyright">
                        <div class="framer-9bfaml" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
                            <p style="--font-selector:R0Y7U2NoaWJzdGVkIEdyb3Rlc2stcmVndWxhcg==;--framer-font-family:&quot;Schibsted Grotesk&quot;, &quot;Schibsted Grotesk Placeholder&quot;, sans-serif;--framer-line-height:1.5em;--framer-text-alignment:center;--framer-text-color:rgb(255, 255, 255)" class="framer-text">© 2023 Team Work Computer Science</p>
                        </div>

                    </div>
                </div>
            </div>
            <div id="overlay"></div>
        </div>
    </div>
    <div id="svg-templates" style="position: absolute; overflow: hidden; top: 0; left: 0; width: 0; height: 0"></div>
    <div id="__framer-badge-container"></div>


</body>
</html>
